DATABASE_URL=postgresql+asyncpg://postgres:password123@db:5432/ipb_space
SECRET_KEY=string_rahasia_untuk_jwt
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=30

POSTGRES_USER=postgres
POSTGRES_PASSWORD=password123
POSTGRES_DB=ipb_space

DOCUMENT_SIGNING_PRIVATE_KEY=-----BEGIN RSA PRIVATE KEY-----\...-----END RSA PRIVATE KEY-----
DOCUMENT_ENCRYPTION_KEY=...
DOCUMENT_CRYPTO_ENABLED=true
DOCUMENT_CRYPTO_STRICT=true